@import '../../assets/styles/variables.scss';
.reset-pass-container {
  max-width: 100%;
  background-color: $ucf_white;
  padding: 180px 25%;
  border-radius: 5px;
  margin: auto;
  display: flex;
}

.reset-password-form {
  margin: auto;
  display: block;
  width: 100%;
  padding: 0 30%;
}
.reset-password-text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  opacity: 0.85;
  line-height: 1.5;
}

.reset-password-button {
  width: 100%;
  margin-top: 10px;
  padding: 20px 18px;
  border-radius: 4px;
  border-width: 0px;
  background: $ucf_maximum_blue;
  box-shadow: 0 10px 10px -5px rgb(45 62 80 / 12%);
  color: $ucf_white;
  font-size: 1.1em;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
