.articles {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 2% 0 2% 5%;
  text-align: left;
}
.heading {
    margin-top: 0px;
    padding: 0px 15px 0px 0%;
    font-family: Muli, sans-serif;
    color: #fff;
}
