@import '../../assets/styles/variables.scss';

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: 400;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  &.trial {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 875px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.hero-logo {
  display: block;
  margin-top: 35px;
  padding-left: 0px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -o-object-fit: none;
  object-fit: none;
}
.heading-copy {
  font-family: Muli, sans-serif;
  color: $ucf_white;
  text-align: center;
  &.hero {
    position: relative;
    display: block;
    width: 75%;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Muli, sans-serif;
    font-size: 27px;
    line-height: 37px;
  }
}
.signup-button {
  position: static;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 25px;
  padding: 18px 24px;
  border-radius: 5px;
  background-color: $ucf_maximum_blue;
  box-shadow: 0 20px 30px -10px rgb(24 16 99 / 36%);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  color: $ucf_white;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: rgba(44, 186, 220, 0.68);
    box-shadow: 0 10px 20px -5px rgb(24 16 99 / 36%);
  }
}

.bg-video-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  -o-object-fit: contain;
  object-fit: contain;
}

.background-video {
  height: 800px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  &.trial {
    overflow: hidden;
    height: 600px;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.bg-wrapper {
  padding-top: 0px;
  padding-bottom: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#171f2b), to(#000));
  background-image: linear-gradient(0deg, $ucf_blackBlue, $ucf_dark);
  text-align: center;
}

.editor-picks {
  position: relative;
  margin-top: 0px;
  padding: 0px 16px 16px 20px;
  &.bg {
    display: block;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: transparent;
    text-align: left;
    -o-object-fit: fill;
    object-fit: fill;
  }
}

.heading {
  margin-top: 20px;
  padding: 0px 15px 0px 5%;
  font-family: Muli, sans-serif;
  color: $ucf_blackBlue;
  text-align: left;
}

.podcasts-members {
  position: relative;
  padding: 2% 0px 0px;
  &.bg {
    overflow: hidden;
    text-align: left;
  }
}

.blogs-and-articles {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 2% 0%;
  text-align: left;
}

.thematic-events {
  position: relative;
  overflow: hidden;
  padding: 2% 0%;
  text-align: left;
}
.transformed {
  position: relative;
  overflow: hidden;
  padding: 2% 0%;
  &.bg-channel-copy {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: transparent;
    text-align: left;
  }
}
@media screen and (max-width: 991px) {
  .heading-copy.hero {
    width: auto;
    font-size: 26px;
    white-space: normal;
  }

  .editor-picks {
    margin-top: 0px;
    padding-top: 2%;
  }

  .blogs-and-articles {
    overflow: hidden;
  }

  .thematic-events {
    overflow: hidden;
  }

  .transformed {
    overflow: hidden;
  }
}
@media screen and (max-width: 479px) {
  .hero-wrapper {
    height: 700px;
    &.trial {
      height: 750px;
      padding-right: 0px;
      padding-left: 0px;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .heading-copy.hero {
      font-size: 18px;
      line-height: 22px;
      margin-top: 15px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .hero-logo {
    max-width: 45%;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .signup-button {
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
  }
  .bg-video-wrapper {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .background-video {
    height: 700px;
    .trial {
      width: 100%;
      height: 390px;
    }
  }
  .editor-picks {
    overflow: hidden;
  }
  .heading {
    margin-top: 0px;
    padding-left: 5%;
    font-size: 30px;
    text-align: center;
  }
  .podcasts-members {
    overflow: hidden;
  }
  .blogs-and-articles {
    padding-top: 0%;
  }
  .thematic-events {
    padding-top: 0%;
  }
  .transformed {
    padding-top: 0%;
    &.bg-channel-copy {
      padding-top: 0%;
    }
  }
}
