@import "./assets/styles/variables";

.heading {
  margin-top: 20px;
  padding: 0 15px 0 5%;
  color: $ucf_blackBlue;
  text-align: left;
}
.editor-picks {
  position: relative;
  margin-top: 0px;
  padding: 0px 16px 16px 20px;
  &.bg {
    display: block;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: transparent;
    text-align: left;
    -o-object-fit: fill;
    object-fit: fill;
  }
}