@import '../../../assets/styles/variables.scss';

.nav-link-desktop {
  display: block;
  margin-right: 40px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-align: center;
  &:hover {
    box-shadow: inset 0 -3px 0 -2px $ucf_skyBlueCrayola;
    color: $ucf_skyBlueCrayola;
    a {
      color: $ucf_white;
    }
  }
}
.nav-link {
  font-family: Muli, sans-serif;
  color: $ucf_white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.signup-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 9vw;
  margin-top: 0px;
  padding: 12px 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $ucf_maximum_blue;
  background-image: linear-gradient(45deg, $ucf_maximum_blue, $ucf_skyBlueCrayola);
  font-family: Muli, sans-serif;
  color: $ucf_dark;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:active {
    color: $ucf_dark;
  }
}
.login-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: 20px;
  padding: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: $ucf_maximum_blue;
  border-radius: 5px;
  background-color: transparent;
  font-family: Muli, sans-serif;
  color: $ucf_skyBlueCrayola;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  &:hover,
  &:active {
    color: $ucf_skyBlueCrayola;
  }
}

.popover-wrapper {
  position: relative;
  .popover-holder {
    span {
      font-size: 15px;
      font-weight: 400;
      color: $ucf_white;
      cursor: pointer;
    }
    &:hover,
    &:active {
      .popover {
        display: block;
      }
    }
  }
  .popover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    height: 100px;
    display: none;
    padding: 0;
  }
  .popover-item-wrapper {
    margin-top: 10px;
    padding: 0;
    border-radius: 3px;
    background-color: $ucf_white;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    &.logout {
      border-left: 5px solid $ucf_patentBlue;
    }
  }
  .popover-item {
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
    border-radius: 0;
    transition: all 0.2s ease;
    &:hover,
    &:active {
      background-color: $ucf_whiteSmoke;
      color: $ucf_blackBlue;
      svg {
        color: $ucf_amaranth;
      }
    }
    svg {
      margin-right: 5px;
      font-size: 14px;
      color: $ucf_dark;
    }
    span {
      color: $ucf_dark;
      display: inline-block;
    }
  }
}
