$ucf_dark : #000;
$ucf_white: #fff;
$ucf_darkCharcoal: #333;
$ucf_skyBlueCrayola: #35e1fd;
$ucf_maximum_blue: #2cbadc;
$ucf_blackBlue: #171f2b;
$ucf_gray80:#ccc;
$ucf_amaranth: #dc3545;
$ucf_navyBlue: #1e71e7;
$ucf_lightRed: #f8f8f8;
$ucf_lightViolet: #a279f9;
$ucf_lightBlue: #f7f8fa;
$ucf_patentBlue: #d5dde2;
$ucf_whiteSmoke: #efefef;