.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #2cbadc;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
}
